body, html{
    height: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: bold;
    padding-left:20px !important;
    padding-right:15px !important;
}

.img-logo{
    width:53px !important;
    height:53px !important;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.btn-color{
    color:white !important;
    font-weight: bold !important;
    background-color: rgb(255, 90, 95) !important;
}

/*SIGNUP AND LOGIN FORM*/
.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-register {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.alert{
    padding-bottom: .05rem !important;
}

/*PRODUCT DETAIL*/
.title-item{
    text-transform: uppercase ;
}

.card-detail{
    border : 0px !important;
}

/*FILTER VIEW*/
.bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    height: 87%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.filter-card{
    -webkit-box-shadow: 10px 10px 47px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 47px -4px rgba(0,0,0,0.75);
}


/*FOOTER*/
footer{
    background-color: #f5f5f5;
    padding: 80px 0;
}

@media only screen and (max-width: 768px) {
    .bg {
     height:100%
    }
}

