{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Airbnb | Register</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="padding-top: 40px;padding-bottom: 40px; background-color: #f5f5f5;">
    <div class="container">
        <div class="text-center d-flex align-items-center">
            {% block content %}

            <form class="form-register" method="POST">
                <img class="mb-4" src="{% static 'myapp/airbnb.png'%}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Registrate</h1>
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
                <button class="btn btn-lg btn-color btn-block" type="submit">Crear Cuenta</button>
                <p class="mt-3">Ya tenes una cuenta? <a href="/login">Inicia sesion</a></p>
            </form>
            {% endblock %}
        </div>
    </div>
</body>


</html>