{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'myapp/styles.css'%}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Airbnb | Thanks</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="nav-link"><img src="{% static 'myapp/airbnb.png'%}" class="img-responsive img-logo"
                alt="My image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_superuser %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/reservations/"><i class="fa fa-calendar" aria-hidden="true"></i> Mis
                        Reservas</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/"><i class="fa fa-user" aria-hidden="true"></i> Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout </a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login/">Soy propietario <i class="fa fa-cogs" aria-hidden="true"></i></a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <div class="bg">
        {% csrf_token %}
        <div class="container h-100 d-flex justify-content-center align-items-center ">
            <div class="card p-3 filter-card d-none d-md-block ">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img class="card-img-top" src="{{estate.image.url}}" alt="Card image cap">
                        <a href="{% url 'index' %}" class="btn btn-color mt-4 btn-block">Volver al inicio</a>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Gracias {{reservation.user}} !</h5>
                            <p class="card-text">Su reserva en <span class="font-weight-bolder">{{estate.title}}
                                </span>por un total de <span class="font-weight-bolder">${{total}}</span> ha sido
                                confirmada exitosamente</p>
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item ">Su Código: <span
                                        class="font-weight-bolder">{{reservation.code}}</span> </li>
                                <li class="list-group-item">Fechas:
                                    {% for d in dates %}
                                    <p class="font-weight-bolder">{{d.date}}</p>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card p-3 filter-card d-block d-md-none ">
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <h5 class="card-title">Gracias {{reservation.user}} !</h5>
                            <p class="card-text">Su reserva en <span class="font-weight-bolder">{{estate.title}}
                                </span>por un total de <span class="font-weight-bolder">${{total}}</span> ha sido
                                confirmada exitosamente</p>
                            <p>Se ha enviado un correo electrónico a la dirección proporcionada con los datos de la
                                reserva.</p>
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item ">Cód.: <span
                                        class="font-weight-bolder">{{reservation.code}}</span> </li>
                                <li class="list-group-item">Fechas:
                                    {% for d in dates %}
                                    <p class="font-weight-bolder">{{d.date}}</p>
                                    {% endfor %}
                                </li>
                            </ul>
                            <a href="{% url 'index' %}" class="btn btn-color mt-4 btn-block">Volver al inicio</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>